@model IEnumerable<HelperlandWebsite.ViewModels.NewServiceRequestsViewModels>

@{
    ViewData["Title"] = "NewServiceRequests";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}

<h3>NewServiceRequests</h3>

<div class="col-md-9">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceRequestId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartingDate)
                </th>
                <th>
                    Customer Details
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceRequestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                    @Html.DisplayFor(modelItem => item.ServiceHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                    @Html.DisplayFor(modelItem => item.City)
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    <button class="btn btn-primary" onclick="btnAcceptReq(@item.ServiceRequestId)">Accept</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function btnAcceptReq(x) {
        var dataAccept = {};
        var Id = x;
        dataAccept.ServiceRequestId = Id;
        alert(dataAccept.ServiceRequestId);

        $.ajax({
                url: '@Url.Action("NewServiceRequests")',
                type: 'post',
                data: dataAccept,
                success: function (response) {

                    if (response) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    location.reload();
                    $("#errorMsg").html("Something wrong");
                }
            })
    }
</script>