@model IEnumerable<HelperlandWebsite.ViewModels.UpcomingServiceViewModel>

@{
    ViewData["Title"] = "UpcomingServices";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}
<h3>UpComing Service</h3>
<div class="col-md-9">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceRequestId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartingDate)
                </th>
                <th>
                    Customer Details
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceRequestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                    @Html.DisplayFor(modelItem => item.ServiceHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                    @Html.DisplayFor(modelItem => item.City)
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    <button class="btn btn-danger" onclick="btnCancel(@item.ServiceRequestId)">Cancel</button>
                    <button class="btn btn-info" onclick="btnCompleted(@item.ServiceRequestId)">Completed</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>  
<script>
    function btnCancel(x) {
        var check = {};
        var id = x;
        alert(id);
        check.chkCancel = 1;
        check.ServiceRequestId = x;
        $.ajax({
                url: '@Url.Action("UpcomingServices")',
                type: 'post',
                data: check,
                success: function (response) {

                    if (response) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    location.reload();
                    $("#errorMsg").html("Something wrong");
                }
            })
    }
    function btnCompleted(x) {
        var check = {};
        var id = x;
        alert(id);
        check.chkCompleted = 1;
        check.ServiceRequestId = x;
        $.ajax({
                url: '@Url.Action("UpcomingServices")',
                type: 'post',
                data: check,
                success: function (response) {

                    if (response) {
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    location.reload();
                    $("#errorMsg").html("Something wrong");
                }
            })
    }
</script>