@model HelperlandWebsite.ViewModels.Book_nowViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Book Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book now</title>
    <!-- bootstrap Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap3/bootstrapcss/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap3/bootstrapcss/bootstrap-theme.css" rel="stylesheet" />



</head>
<body class="book-now">
    <!-- Header -->
    <header>
        <div class="topnav" id="myTopnav">
            <img src="~/img/white-logo.png" class="nav-other-logo img-responsive" alt="logo">
            <a href="#" class="scroll-link"><img src="~/img/go-up.png" class=""></a>
            <a href="#" class="scroll-link"><img src="~/img/admin-user.png" class="nav-noti-icon img-responsive"></a>
            <a href="#" class="scroll-link"><img src="~/img/icon-notification.png" class="nav-noti-icon img-responsive"></a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>
            <a href="#">Warranty</a>
            <a href="#" class="">Prices & Services</a>
            <a href="#" class="Rounded-Rectangle-other">Book now</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunctionnav()">
                <i class="fa fa-bars"></i>
            </a>
        </div>`
    </header>
    <!-- Header End -->

    <h1 class="book_Heading">Set up your cleaning service</h1>
    <img src="~/img/stone.png" class="img-responsive stone">
    @ViewBag.msg
    <div class="container">
        <div class="row book_Service">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div active-tab tab-color cursor-change" id="tab1" onclick="Tab1Click()">
                        Setup Service
                    </div>
                    @if (ViewBag.valid == 1)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color cursor-change" id="tab2" onclick="Tab2Click()">
                            Schedual & Plan
                        </div>
                        @if (ViewBag.valid == 2)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color cursor-change" id="tab3" onclick="Tab3Click()">
                                Your Details
                            </div>
                            @if (ViewBag.valid == 3)
                            {
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color cursor-change" id="tab4" onclick="Tab4Click()">
                                    Make Payment
                                </div>
                            }
                            else
                            {
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color" id="tab4">
                                    Make Payment
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color" id="tab3">
                                Your Details
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color" id="tab4">
                                Make Payment
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color" id="tab2" onclick="Tab2Click()">
                            Schedual & Plan
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color" id="tab3" onclick="Tab3Click()">
                            Your Details
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 book_div tab-color" id="tab4" onclick="Tab4Click()">
                            Make Payment
                        </div>
                    }

                </div>

                <div>
                    <div id="tabContent1" class="fordisplay">
                        @*<input type="text" id="Zipcode" value="123"/>*@
                        <label asp-for="PostalCode" class="control-label lblPostalCode">Enter your Postal Code</label>
                        <input asp-for="PostalCode" placeholder="Postal code" id="txtPostalCode" class="form-control PostalCode" required />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                        <div id="successMessagetab1">Not Available</div>

                        <input type="button" id="btncheck" name="" value="Check Availability" class="btnCheckavail" onclick="btncheck()" />
                        <div id="successMessagetab1" color:green;"></div>
                    </div>

                    <div id="tabContent2" class="fornonedisplay">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="lblPostalCode" asp-for="Cleandate">When do you need the cleaner?</label>
                            </div>
                            <div class="col-md-6">
                                <label class="lblPostalCode" asp-for="Startingtime">How long do you need your cleaner to stay?</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span asp-validation-for="Cleandate" class="text-danger"></span>
                                <input type="date" asp-for="Cleandate"
                                       id="datePicker"
                                       name="Tdate"
                                       class="form-control clean-date"
                                       value="<%=DateTime.Now.ToString("dd-mm-yyyy")%>

                                <select asp-for="Startingtime" id="ddlStartingTime" class="form-control inline clean-time">
                                    <option value="8" selected>8:00</option>
                                    <option value="8.5">8:30</option>
                                    <option value="9">9:00</option>
                                    <option value="9.5">9:30</option>
                                    <option value="10">10:00</option>
                                    <option value="10.5">10:30</option>
                                    <option value="11">11:00</option>
                                    <option value="11.5">11:30</option>
                                    <option value="12">12:00</option>
                                    <option value="12.5">12:30</option>
                                    <option value="13">13:00</option>
                                    <option value="13.5">13:30</option>
                                    <option value="14">14:00</option>
                                    <option value="14.5">14:30</option>
                                    <option value="15">15:00</option>
                                    <option value="15.5">15:30</option>
                                    <option value="16">16:00</option>
                                    <option value="16.5">16:30</option>
                                    <option value="17">17:00</option>
                                    <option value="17.5">17:30</option>
                                    <option value="18">18:00</option>
                                </select>
                                <span asp-validation-for="Startingtime" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="Hours" class="form-control inline clean-hr ddlHours" id="ddlHours">
                                    <option value="3" selected>3.0 Hrs</option>
                                    <option value="3.5">3.5 Hrs</option>
                                    <option value="4">4.0 Hrs</option>
                                    <option value="4.5">4.5 Hrs</option>
                                    <option value="5">5.0 Hrs</option>
                                    <option value="5.5">5.5 Hrs</option>
                                    <option value="6">6.0 Hrs</option>
                                    <option value="6.5">6.5 Hrs</option>
                                    <option value="7">7.0 Hrs</option>
                                    <option value="7.5">7.5 Hrs</option>
                                    <option value="8">8.0 Hrs</option>
                                    <option value="8.5">8.5 Hrs</option>
                                    <option value="9">9.0 Hrs</option>
                                    <option value="9.5">9.5 Hrs</option>
                                    <option value="10">10.0 Hrs</option>
                                    <option value="10.5">10.5 Hrs</option>
                                    <option value="11">11.0 Hrs</option>
                                    <option value="11.5">11.5 Hrs</option>
                                    <option value="12">12.0 Hrs</option>
                                </select>
                                <span asp-validation-for="Hours" class="text-danger"></span>
                            </div>
                        </div>
                        <hr>
                        <label>Extra Services</label>
                        <div class="text-center">
                            <div class="justify-content-center align-self-center">
                                <div class="prices-extra-services-dis">
                                    <label class=" book-extra-services">
                                        <input type="checkbox" name="extra" class="ng-untouched ng-pristine ng-valid" value="Inside cabinets    30 min">
                                        <div class="img-container">
                                            <div class="img-wrapper">
                                                <img src="~/img/cabinet.png">
                                            </div>
                                        </div>
                                    </label>
                                    <p class="prices-services-pics-desc">Inside cabinets</p>
                                </div>
                                <div class="prices-extra-services-dis">
                                    <label class=" book-extra-services">
                                        <input type="checkbox" name="extra" class="ng-untouched ng-pristine ng-valid" value="Inside fridge  30 min">
                                        <div class="img-container">
                                            <div class="img-wrapper">
                                                <img src="~/img/fridge.png">
                                            </div>
                                        </div>
                                    </label>
                                    <p class="prices-services-pics-desc">Inside fridge</p>
                                </div>
                                <div class="prices-extra-services-dis">
                                    <label class=" book-extra-services">
                                        <input type="checkbox" name="extra" class="ng-untouched ng-pristine ng-valid" value="Inside oven    30 min">
                                        <div class="img-container">
                                            <div class="img-wrapper">
                                                <img src="~/img/oven.png">
                                            </div>
                                        </div>
                                    </label>
                                    <p class="prices-services-pics-desc">Inside oven</p>
                                </div>
                                <div class="prices-extra-services-dis">
                                    <label class=" book-extra-services">
                                        <input type="checkbox" name="extra" class="ng-untouched ng-pristine ng-valid" value="Laundry wash & dry    30 min">
                                        <div class="img-container">
                                            <div class="img-wrapper">
                                                <img src="~/img/dry.png">
                                            </div>
                                        </div>
                                    </label>
                                    <p class="prices-services-pics-desc">Laundry wash & dry</p>
                                </div>
                                <div class="prices-extra-services-dis">
                                    <label class=" book-extra-services">
                                        <input type="checkbox" name="extra" class="ng-untouched ng-pristine ng-valid" value="Interior windows   30 min">
                                        <div class="img-container">
                                            <div class="img-wrapper">
                                                <img src="~/img/window.png">
                                            </div>
                                        </div>
                                    </label>
                                    <p class="prices-services-pics-desc">Interior windows</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label for="cmnt">Comments</label>
                        <textarea placeholder="Comments" id="cmnt" rows="3" class="form-control plan-cmnt"></textarea>
                        <input type="Checkbox" name="" id="pet-check" value="1" />
                        <label for="pet-check">I have pets at  home</label>
                        <hr>
                        <input type="submit" name="" id="btnschedule" value="Continue" class="btncontinue" onclick="btnschedule()" />


                    </div>

                    <div id="tabContent3" class="fornonedisplay">
                    </div>

                    <div id="tabContent4" class="fornonedisplay">
                        <label class="lblPostalCode">Promo Code (optional)</label>
                        <input type="text" name="" placeholder="Promo Code (optional)" class="form-control promo-code">
                        <input type="button" name="" value="Apply" class="promo-applybtn" onclick="btnServiceDone()">
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 ">
                <div class="card PaymentSumCard">
                    <div class="">
                        <h5 class="PaymentHeading">Payment Summery</h5>
                        <table>
                            <tr>
                                <td>
                                    Duration : <span id="displayDate"></span>
                                    <span id="displayTime"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Basic : <span id="displayHours">0 hrs</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p id="displayExtra"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Per Cleaning : <span id="PerCleaning"></span>
                                </td>
                            </tr>
                        </table>
                        
                       
                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>

        document.getElementById('datePicker').valueAsDate = new Date();
        function btncheck() {

            var bookings = {};
            bookings.PostalCode = $("#txtPostalCode").val();            
            alert("Service is available Click on next tab");

            $.ajax({
                url: '@Url.Action("Book_now")',
                type: 'post',
                data: bookings,
                success: function (response) {

                    if (response) {
                        //alert(bookings.PostalCode);
                        $("#successMessagetab1").html("Service is available");
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong postbtn!!");
                }
            })
        }

        function btnschedule() {
            //debugger;
            var bookings = {};
            
            var hr = $('#ddlHours').find(":selected").val();
            var hrs = $('#ddlHours').find(":selected").text();
            var cmt = $("#cmnt").val();
            var pt = $("#pet-check").val();

            if ($('#pet-check').is(":checked")) {
                var pt = ($('#pet-check').val());
            }
            else {
                var pt = 0;
            }

            var extraserv = 0;
            var favorite = [];
            $.each($("input[name='extra']:checked"), function () {
                favorite.push($(this).val());
                $("#displayExtra").html(favorite + " , ");
                extraserv++;
            });
            if (hrs == "3.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 87.50;
                    $('#PerCleaning').html("87,50 €");
                    hrs = "3.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);

                }
                else if (extraserv == 2) {
                    var ttlPay = 100.00;
                    $('#PerCleaning').html("100,00 €");
                    hrs = "4 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 112.50;
                    $('#PerCleaning').html("112,50 €");
                    hrs = "4.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 125.00;
                    $('#PerCleaning').html("125,00 €");
                    hrs = "5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 137.50;
                    $('#PerCleaning').html("137,50 €");
                    hrs = "5.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 75.00;
                    $('#PerCleaning').html("75 €");
                }

            }
            else if (hrs == "3.5 Hrs") {
                 if (extraserv == 1) {
                    var ttlPay = 100.00;
                     $('#PerCleaning').html("100,00 €");
                     hrs = "4 Hrs";
                     alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 112.50;
                     $('#PerCleaning').html("112,50 €");
                     hrs = "4.5 Hrs";
                     alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 125.00;
                     $('#PerCleaning').html("125,00 €");
                     hrs = "5 Hrs";
                     alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 137.50;
                     $('#PerCleaning').html("137,50 €");
                     hrs = "5.5 Hrs";
                     alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                     var ttlPay = 150.00;
                     $('#PerCleaning').html("150,00 €");
                     hrs = "6 Hrs";
                     alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 87.50;
                    $('#PerCleaning').html("87,50 €");
                }
            }
            else if (hrs == "4.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 112.50;
                    $('#PerCleaning').html("112,50 €");
                    hrs = "4.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 125.00;
                    $('#PerCleaning').html("125,00 €");
                    hrs = "5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 137.50;
                    $('#PerCleaning').html("137,50 €");
                    hrs = "5.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 150.00;
                    $('#PerCleaning').html("150,00 €");
                    hrs = "6 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 162.50;
                    $('#PerCleaning').html("162,50 €");
                    hrs = "6.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 100.00;
                    $('#PerCleaning').html("100,00 €");
                }
            }
            else if (hrs == "4.5 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 125.00;
                    $('#PerCleaning').html("125,00 €");
                    hrs = "5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 137.50;
                    $('#PerCleaning').html("137,50 €");
                    hrs = "5.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 150.00;
                    $('#PerCleaning').html("150,00 €");
                    hrs = "6 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 162.50;
                    $('#PerCleaning').html("162,50 €");
                    hrs = "6.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 175.00;
                    $('#PerCleaning').html("175,00 €");
                    hrs = "7 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 112.50;
                    $('#PerCleaning').html("112,50 €");
                }
            }
            else if (hrs == "5.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 137.50;
                    $('#PerCleaning').html("137,50 €");
                    hrs = "5.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 150.00;
                    $('#PerCleaning').html("150,00 €");
                    hrs = "6 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 162.50;
                    $('#PerCleaning').html("162,50 €");
                    hrs = "6.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 175.00;
                    $('#PerCleaning').html("175,00 €");
                    hrs = "7 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 187.50;
                    $('#PerCleaning').html("187,50 €");
                    hrs = "7.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 125.00;
                    $('#PerCleaning').html("125,00 €");
                }
            }
            else if (hrs == "5.5 Hrs") {
                if(extraserv == 1) {
                    var ttlPay = 150.00;
                    $('#PerCleaning').html("150,00 €");
                    hrs = "6 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 162.50;
                    $('#PerCleaning').html("162,50 €");
                    hrs = "6.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 175.00;
                    $('#PerCleaning').html("175,00 €");
                    hrs = "7 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 187.50;
                    $('#PerCleaning').html("187,50 €");
                    hrs = "7.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 200.00;
                    $('#PerCleaning').html("200,00 €");
                    hrs = "8 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 137.50;
                    $('#PerCleaning').html("137,50 €");
                }
            }
            else if (hrs == "6.0 Hrs") {
                if(extraserv == 1) {
                    var ttlPay = 162.50;
                    $('#PerCleaning').html("162,50 €");
                    hrs = "6.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 175.00;
                    $('#PerCleaning').html("175,00 €");
                    hrs = "7 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 187.50;
                    $('#PerCleaning').html("187,50 €");
                    hrs = "7.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 200.00;
                    $('#PerCleaning').html("200,00 €");
                    hrs = "8 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 212.50;
                    $('#PerCleaning').html("212,50 €");
                    hrs = "8.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 150.00;
                    $('#PerCleaning').html("150,00 €");
                }
            }
            else if (hrs == "6.5 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 175.00;
                    $('#PerCleaning').html("175,00 €");
                    hrs = "7 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 187.50;
                    $('#PerCleaning').html("187,50 €");
                    hrs = "7.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 200.00;
                    $('#PerCleaning').html("200,00 €");
                    hrs = "8 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 212.50;
                    $('#PerCleaning').html("212,50 €");
                    hrs = "8.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 225.00;
                    $('#PerCleaning').html("225,00 €");
                    hrs = "9 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 162.50;
                    $('#PerCleaning').html("162,50 €");
                }
            }
            else if (hrs == "7.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 187.50;
                    $('#PerCleaning').html("187,50 €");
                    hrs = "7.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 200.00;
                    $('#PerCleaning').html("200,00 €");
                    hrs = "8 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 212.50;
                    $('#PerCleaning').html("212,50 €");
                    hrs = "8.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 225.00;
                    $('#PerCleaning').html("225,00 €");
                    hrs = "9 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 237.00;
                    $('#PerCleaning').html("237,50 €");
                    hrs = "9.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 175.00;
                    $('#PerCleaning').html("175,00 €");
                }
            }
            else if (hrs == "7.5 Hrs") {
                if  (extraserv == 1) {
                    var ttlPay = 200.00;
                    $('#PerCleaning').html("200,00 €");
                    hrs = "8 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 212.50;
                    $('#PerCleaning').html("212,50 €");
                    hrs = "8.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 225.00;
                    $('#PerCleaning').html("225,00 €");
                    hrs = "9 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 237.50;
                    $('#PerCleaning').html("237,50 €");
                    hrs = "9.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 250.00;
                    $('#PerCleaning').html("250,00 €");
                    hrs = "10 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 187.50;
                    $('#PerCleaning').html("187,50 €");
                }
            }
            else if (hrs == "8.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 212.50;
                    $('#PerCleaning').html("212,50 €");
                    hrs = "8.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 225.00;
                    $('#PerCleaning').html("225,00 €");
                    hrs = "9 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 237.50;
                    $('#PerCleaning').html("237,50 €");
                    hrs = "9.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 250.00;
                    $('#PerCleaning').html("250,00 €");
                    hrs = "10 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 262.50;
                    $('#PerCleaning').html("262,50 €");
                    hrs = "10.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 200.00;
                    $('#PerCleaning').html("200,00 €");
                }
            }
            else if (hrs == "8.5 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 225.00;
                    $('#PerCleaning').html("225,00 €");
                    hrs = "9 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 237.50;
                    $('#PerCleaning').html("237,50 €");
                    hrs = "9.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 250.00;
                    $('#PerCleaning').html("250,00 €");
                    hrs = "10 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 262.50;
                    $('#PerCleaning').html("262,50 €");
                    hrs = "10.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 275.00;
                    $('#PerCleaning').html("275,00 €");
                    hrs = "11 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 212.50;
                    $('#PerCleaning').html("212,50 €");
                }
            }
            else if (hrs == "9.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 237.50;
                    $('#PerCleaning').html("237,50 €");
                    hrs = "9.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 250.00;
                    $('#PerCleaning').html("250,00 €");
                    hrs = "10 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 262.50;
                    $('#PerCleaning').html("262,50 €");
                    hrs = "10.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 275.00;
                    $('#PerCleaning').html("275,00 €");
                    hrs = "11 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 287.50;
                    $('#PerCleaning').html("287,50 €");
                    hrs = "11.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 225.00;
                    $('#PerCleaning').html("225,00 €");
                }
            }
            else if (hrs == "9.5 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 250.00;
                    $('#PerCleaning').html("250,00 €");
                    hrs = "10 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 262.50;
                    $('#PerCleaning').html("262,50 €");
                    hrs = "10.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 275.00;
                    $('#PerCleaning').html("275,00 €");
                    hrs = "11 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 287.50;
                    $('#PerCleaning').html("287,50 €");
                    hrs = "11.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 300.00;
                    $('#PerCleaning').html("300.00 €");
                    hrs = "12 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 237.50;
                    $('#PerCleaning').html("237,50 €");
                }
            }
            else if (hrs == "10.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 262.50;
                    $('#PerCleaning').html("262,50 €");
                    hrs = "10.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 275.00;
                    $('#PerCleaning').html("275,00 €");
                    hrs = "11 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 287.50;
                    $('#PerCleaning').html("287,50 €");
                    hrs = "11.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 300.00;
                    $('#PerCleaning').html("300.00 €");
                    hrs = "12 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 312.50;
                    $('#PerCleaning').html("312,50 €");
                    hrs = "12.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 250.00;
                    $('#PerCleaning').html("250,00 €");
                }
            }
            else if (hrs == "10.5 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 275.00;
                    $('#PerCleaning').html("275,00 €");
                    hrs = "11 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 287.50;
                    $('#PerCleaning').html("287,50 €");
                    hrs = "11.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 300.00;
                    $('#PerCleaning').html("300.00 €");
                    hrs = "12 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 312.50;
                    $('#PerCleaning').html("312,50 €");
                    hrs = "12.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 325.00;
                    $('#PerCleaning').html("325,00 €");
                    hrs = "13 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else {
                    var ttlPay = 262.50;
                    $('#PerCleaning').html("262,50 €");
                }
            }
            else if (hrs == "11.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 287.50;
                    $('#PerCleaning').html("287,50 €");
                    hrs = "11.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 300.00;
                    $('#PerCleaning').html("300.00 €");
                    hrs = "12 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 312.50;
                    $('#PerCleaning').html("312,50 €");
                    hrs = "12.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 325.00;
                    $('#PerCleaning').html("325,00 €");
                    hrs = "13 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 5) {
                    var ttlPay = 337.00;
                    $('#PerCleaning').html("337,50 €");
                    alert("Could not completed the service request, because service booking request is must be completed within 21:00 time");
                }
                else {
                    var ttlPay = 275.00;
                    $('#PerCleaning').html("275,00 €");
                }
            }
            else if (hrs == "11.5 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 300.00;
                    $('#PerCleaning').html("300.00 €");
                    hrs = "12 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 312.50;
                    $('#PerCleaning').html("312,50 €");
                    hrs = "12.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 325.00;
                    $('#PerCleaning').html("325,00 €");
                    hrs = "13 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 4) {
                    var ttlPay = 337.00;
                    $('#PerCleaning').html("337,50 €");
                    alert("Could not completed the service request, because service booking request is must be completed within 21:00 time");
                }
                else if (extraserv == 5) {
                    var ttlPay = 350.00;
                    $('#PerCleaning').html("350,00 €");
                    alert("Could not completed the service request, because service booking request is must be completed within 21:00 time");
                }
                else {
                    var ttlPay = 287.50;
                    $('#PerCleaning').html("287,50 €");
                }
            }
            else if (hrs == "12.0 Hrs") {
                if (extraserv == 1) {
                    var ttlPay = 312.50;
                    $('#PerCleaning').html("312,50 €");
                    hrs = "12.5 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 2) {
                    var ttlPay = 325.00;
                    $('#PerCleaning').html("325,00 €");
                    hrs = "13 Hrs";
                    alert("Your Hours would be Changed to " + hrs);
                }
                else if (extraserv == 3) {
                    var ttlPay = 337.00;
                    $('#PerCleaning').html("337,50 €");
                    alert("Could not completed the service request, because service booking request is must be completed within 21:00 time");
                }
                else if (extraserv == 4) {
                    var ttlPay = 350.00;
                    $('#PerCleaning').html("350,00 €");
                    alert("Could not completed the service request, because service booking request is must be completed within 21:00 time");
                }
                else if (extraserv == 5) {
                    var ttlPay = 362.00;
                    $('#PerCleaning').html("362,00 €");
                    alert("Could not completed the service request, because service booking request is must be completed within 21:00 time");
                }
                else {
                    var ttlPay = 300.00;
                    $('#PerCleaning').html("300,00 €");
                }
            }
            var totalPay = ttlPay;

            var st = $('#ddlStartingTime').find(":selected").val();
            var time = $('#ddlStartingTime').find(":selected").text();

            var date = $("#datePicker").val();
            //var  = new Date(date + ' ' + time);
            var dateandtime = date.concat(' '+time);
            alert(dateandtime);

            //alert(dateandtime + "dcaddsad");

            bookings.Cleandate = dateandtime;
            alert(dateandtime + "booking");
            bookings.Startingtime = st;
            bookings.Hours = hr;
            bookings.Comments = cmt;
            bookings.Pets = pt;
            bookings.TotalPayment = totalPay;
            bookings.ExtraServ = extraserv;
            $("#displayDate").html(bookings.Cleandate)
            $("#displayTime").html(hr);
            $("#displayHours").html(hr);
            $.ajax({
                url: '@Url.Action("Book_now")',
                type: 'post',
                data: bookings,
                success: function (response) {
                    
                    if (response) {
                        $("#tab3").click();
                        //alert("Service has saved ! Click on next tab to save Address")
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong schedulebtn!!");
                }
            })
        }


        function btnSaveAddress() {
            var bookings = {};
            var addr1 = $("#stNo").val();
            var PostalCodeUser = $("#ptNo").val();
            var ct = $('#ddlCity').find(":selected").text();
            if ($("#hsNo").val() != null) {
                var addr2 = $("#hsNo").val();
                bookings.AddressLine2 = addr2;
            }
            bookings.Mobile = $("#phno").val();
            bookings.AddressLine1 = addr1;
            bookings.PostalCodeUser = PostalCodeUser;
            bookings.City = ct;

            $.ajax({
                url: '@Url.Action("Book_now")',
                type: 'post',
                data: bookings,
                success: function (response) {

                    if (response) {
                        
                        alert("Address has saved ! To watch, refresh the page");
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong addresssavebtn!!");
                }
            })
        }

        function btnAddress() {
            var bookings = {};
            var checkaddress;
            checkaddress = $("input[name='address']:checked").val();
            bookings.AddressID = checkaddress;
            
            $.ajax({
                url: '@Url.Action("Book_now")',
                type: 'post',
                data: bookings,
                success: function (response) {

                    if (response) {
                        alert("Address has Saved !");
                    }
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("Something went Wrong addressbtn!!");
                }
            })
        }

        function btnServiceDone() {
            alert("Service Successfully registered.")
        }

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>